.sidebar_main{
    margin: 0px;
    padding: 20px 0px;
    height: 100vh;
    background: #2A3F54;
}
.sidebar_logo{
    height: 24px;
    margin: 0px auto 20px 20px;
    text-align: left;
}
.sidebar_nav_text{
    font-size: 16px;
    font-weight: 600;
    padding: 0px 10px;
    color: white;
    display: inline-block;
}
.sidebar_nav_img{
    height: 18px;
    margin: 0px 0px 0px 0px;
    display: inline-block;
}
.nav_link{
    text-align: left;
}
@media only screen and (min-width: 1920px){
    .sidebar_logo{
        height: 27px;
    }
    .sidebar_nav_text{
        font-size: 20px;
    }
    .sidebar_nav_img{
        height: 22px;
        vertical-align: -6px;
    }
}
@media only screen and (min-width: 2500px){
    .sidebar_logo{
        height: 30px;
    }
    .sidebar_nav_text{
        font-size: 24px;
    }
    .sidebar_nav_img{
        height: 26px;
        vertical-align: -6px;
    }
}