.get_data_main{
    background: #EDEDED;
    min-height: 100vh;
}
.get_data_sub_main{
    width: 85%;
    margin: 0px 5% 0px 5%;
    padding: 20px 0px 30px 0px;
}
.get_data_title{
    color: #676767;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    margin: 0px 0px 10px 0px;
    padding: 0px 0px 0px 5%;
    letter-spacing: 0.5px;
    color: #373737;
}
.get_data_icons_container{
    border-radius: 100px;
    border: 1px solid #df9704;
    padding: 10px;
    width: max-content;
    text-align: center;
    margin: 15px auto 0px auto;
    display: inline-block;
}
.get_data_icons{
    height: 30px;
}
.get_data_text_head{
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    margin: 0px;
    padding: 6px 0px 0px 0px;
}
.get_data_text{
    font-size: 14px;
    text-align: center;
    margin: 0px;
    padding: 0px;
}
.get_data_step2{
    margin: 50px auto;
    padding: 30px 20px;
    font-size: 18px;
    text-align: center;
    font-weight: 600;
    background: #2A3F54;
    color: white;
    border-radius: 6px;
    height: 400px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
     rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
     writing-mode: vertical-rl;
}
.get_data_vertical_div{
    height: 500px;
}
.get_data_upload{
    width: 80%;
    border: 1px dotted lightgray;
    height: 200px;
    margin: auto;
    padding: 80px 140px;
}
.back_button, .back_button:hover, .back_button:focus, .back_button:active, .back_button.active,
.open>.dropdown-toggle.back_button{
    padding: 3px 20px;
    font-size: 14px;
    margin: 0px 0px 15px 45px;
    font-weight: 600;
    background: transparent !important;
    border: 1px solid #757575;
}
.next_button{
    float: right;
    padding: 3px 15px;
    font-size: 14px;
    margin: 0px 0px 0px 0px;
    color: #2A3F54;
    font-weight: 600;
    border: 1px solid #DF9704;
    background: transparent;
}
.next_button:hover{
    background-color: #DF9704 !important;
    color: white;
}
.next_button:focus, .next_button:active, .next_button.active,
.open>.dropdown-toggle.next_button{
    background-color: #DF9704;
    color: white !important;
}
@media only screen and (min-width: 1920px){
    .get_data_title{
        font-size: 22px;
    }
    .get_data_icons{
        height: 34px;
    }
    .get_data_text_head{
        font-size: 20px;
    }
    .get_data_text{
        font-size: 18px;
    }
    .get_data_step2{
        font-size: 22px;
    }
}
@media only screen and (min-width: 2500px){
    .get_data_title{
        font-size: 26px;
    }
    .get_data_icons{
        height: 38px;
    }
    .get_data_text_head{
        font-size: 24px;
    }
    .get_data_text{
        font-size: 22px;
    }
    .get_data_step2{
        font-size: 26px;
    }
}