.user_profile_main{
    background: #EDEDED;
    min-height: 100vh;
}
.user_profile_sub_main{
    width: 90%;
    margin: 0px auto;
    padding: 0px;
}
.user_profile_title{
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    margin: 0px 0px 10px 5%;
    padding: 10px 0px 0px 0px;
    letter-spacing: 0.5px;
    color: #df9704;
}
.user_profile_label{
    height: 30px;
    margin: 5px 0px;
    color: #838B83;
    font-size: 14px;
    font-weight: 500;
}
.user_profile_input{
    height: 30px;
    margin: 5px 0px;
    font-size: 14px;
}
.user_profile_right_form{
    padding: 0px 20px;
}
.user_profile_left_form{
    padding: 0px 20px;
}

.user_profile_borders{
    padding: 10px 15px;
    margin: 20px auto;
    width: 90%;
    background:
        linear-gradient(to right, #2A3F54 4px, transparent 4px) 0 0,
        linear-gradient(to left, #2A3F54 4px, transparent 4px) 100% 100%,
        linear-gradient(to bottom, #2A3F54 4px, transparent 4px) 0 0,
        linear-gradient(to top, #2A3F54 4px, transparent 4px) 100% 100%;

    background-repeat: no-repeat;
    background-size: 40px 40px;
}
.user_profile_update{
    padding: 3px 20px;
    margin: 15px 20px;
    font-size: 14px;
    font-weight: 500;
}
@media only screen and (min-width: 1920px){
    .user_profile_title{
        font-size: 22px;
    }
    .user_profile_label{
        height: 36px;
        font-size: 18px;
    }
    .user_profile_input{
        height: 36px;
        font-size: 18px;
    }
    .user_profile_update{
        font-size: 18px;
    }
}
@media only screen and (min-width: 2500px){
    .user_profile_title{
        font-size: 26px;
    }
    .user_profile_label{
        height: 42px;
        font-size: 22px;
    }
    .user_profile_input{
        height: 42px;
        font-size: 22px;
    }
    .user_profile_update{
        font-size: 22px;
    }
}