.tools_main{
    background: #EDEDED;
    min-height: 100vh;
}
.tools_sub_main{
    width: 90%;
    margin: 0px auto;
    padding: 0px;
}
.tools_title{
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    margin: 0px 0px 10px 10px;
    padding: 10px 0px 0px 0px;
    letter-spacing: 0.5px;
    color: #df9704;
}
.tools_toggle{
    color: #838B83;
    font-size: 14px;
    font-weight: 600;
}
.tools_analysis{
    padding: 0px 20px;
    font-size: 16px;
    float: right;
    display: inline-block;
    margin-right: 38px;
}
.tools_boxes{
  border: 2px solid #00A4BD;
  padding: 10px;
  border-radius: 2px 15px;
  height: 130px;
  width: 230px;
  display: inline-block;
  margin: 10px;
  padding: 10px;
  background: white;
  vertical-align: top;
}
.tools_boxes_head{
    font-size: 20px;
    color: #00A4BD;
    font-weight: bold;
}
.tools_boxes_text{
    color: #838B83;
    font-size: 14px;
    font-weight: 600;
}
@media only screen and (min-width: 1920px){
    .tools_title{
        font-size: 22px;
    }
    .tools_toggle{
        font-size: 18px;
    }
    .tools_boxes{
        height: 160px;
        width: 250px;
    }
    .tools_boxes_head{
        font-size: 22px;
    }
    .tools_boxes_text{
        font-size: 18px;
    }
    .tools_analysis{
        font-size: 20px;
    }
}
@media only screen and (min-width: 2500px){
    .tools_title{
        font-size: 26px;
    }
    .tools_toggle{
        font-size: 20px;
    }
    .tools_boxes{
        height: 180px;
        width: 260px;
    }
    .tools_boxes_head{
        font-size: 24px;
    }
    .tools_boxes_text{
        font-size: 22px;
    }
    .tools_analysis{
        font-size: 24px;
    }
}