.login_main{
    min-height: 100vh;
    margin: 0px;
    padding: 60px;
    background: #2A3F54;
}
.login_left{
    background: #2A3F54;
    height: 100vh;
    padding: 230px 0px 0px 0px;
    text-align: center;
}
.login_right{
    background-color: white !important;
    height: 100vh;
    padding: 150px 0px 0px 0px;
}
.login_white_container{
    border-radius: 6px;
    min-height: 300px;
    width: 80%;
    padding: 0px;
    margin: auto;
    background-color: white !important;
}
.login_logo{
    height: 50px;
    width: auto;
}
.login_head{
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    padding: 0px 0px 20px 0px;
    margin: 0px;
    color: #2A3F54;
}
.login_label{
    font-size: 16px;
    width: 55%;
    text-align: left !important;
    margin: 0px 22.5%;
    padding: 10px 0px;
    color: #2A3F54;
    font-weight: 600;
}
.login_field{
    font-size: 14px;
    height: 30px;
    width: 55%;
    margin: 0px auto 20px auto;
}
.login_btn{
    width: 30%;
    margin: 20px 35% 10px 35%;
    padding: 3px 0px 3px 0px;;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #2A3F54;
    border: 1px solid #2A3F54;
}
.login_btn:hover, .login_btn:focus, .login_btn:active, .login_btn.active,
.open>.dropdown-toggle.login_btn{
    background-color: #2A3F54 !important;
    color: white !important;
    border: 1px solid #2A3F54 !important;
    box-shadow: none !important;
}
@media only screen and (min-width: 1920px){
    .login_left{
        padding: 280px 0px 0px 0px;
    }
    .login_right{
        padding: 190px 0px 0px 0px;
    }
    .login_white_container{
        min-height: 350px;
    }
    .login_logo{
        height: 60px;
    }
    .login_head{
        font-size: 28px;
    }
    .login_label{
        font-size: 20px;
    }
    .login_field{
        font-size: 18px;
        height: 36px;
    }
    .login_btn{
        font-size: 18px;
    }
}
@media only screen and (min-width: 2500px){
    .login_left{
        padding: 320px 0px 0px 0px;
    }
    .login_right{
        padding: 230px 0px 0px 0px;
    }
    .login_white_container{
        min-height: 380px;
    }
    .login_logo{
        height: 70px;
    }
    .login_head{
        font-size: 32px;
    }
    .login_label{
        font-size: 24px;
    }
    .login_field{
        font-size: 22px;
        height: 40px;
    }
    .login_btn{
        font-size: 22px;
    }
}