.add_project_btn{
    margin: 10px 0px 10px 0px;
    padding: 3px 20px 3px 20px;;
    font-size: 14px;
    font-weight: bold;
    border: 1px solid #00A4BD;
    color: #00A4BD;
}
.add_project_btn:hover, .add_project_btn:focus, .add_project_btn:active, .add_project_btn.active,
.open>.dropdown-toggle.add_project_btn{
    background-color: #00A4BD !important;
    color: white !important;
    box-shadow: none !important;
}
.project_sub_main{
    width: 90%;
    margin: 0px auto;
    padding: 0px;
}
.project_main{
    background: #EDEDED;
    min-height: 100vh;
}
.project_table_display{
    width: 100%;
    margin: 20px auto;
    padding: 0px;
}
.project_table_top{
    background-color: #2A3F54;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    padding: 5px 0px;
    margin: 0px;
}
.project_table_head{
    color: white;
    letter-spacing: 0.8px;
    font-size: 14px;
    display: inline-block;
    width: 25%;
    text-align: center;
    font-weight: bold;
    padding: 0px;
    margin: 0px;
}
.project_table_text{
    color: #2A3F54;
    font-size: 14px;
    display: inline-block;
    width: 25%;
    text-align: center;
    padding: 0px;
    margin: 0px;
}
.project_table_bottom{
    border-bottom: 1px solid lightgray;
    padding: 15px 0px;
    margin: 0px;
}
@media only screen and (min-width: 1920px){
    .add_project_btn{
        font-size: 18px;
    }
    .project_table_head{
        font-size: 18px;
    }
    .project_table_text{
        font-size: 18px;
    }
}
@media only screen and (min-width: 2500px){
    .add_project_btn{
        font-size: 22px;
    }
    .project_table_head{
        font-size: 22px;
    }
    .project_table_text{
        font-size: 22px;
    }
}
